
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `tbl_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_chat` (
  `id_chat` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `nama_pelanggan` varchar(100) NOT NULL,
  `id_stok` bigint(20) DEFAULT NULL,
  `nama_produk` varchar(255) NOT NULL,
  `pengirim` enum('pelanggan','admin') NOT NULL DEFAULT 'pelanggan',
  `nama_pengirim` varchar(100) DEFAULT NULL,
  `pesan` text NOT NULL,
  `dibaca` tinyint(1) NOT NULL DEFAULT 0,
  `waktu_chat` datetime NOT NULL,
  PRIMARY KEY (`id_chat`),
  KEY `idx_konversasi` (`sesi_user`,`nama_pelanggan`,`nama_produk`),
  KEY `idx_unread` (`sesi_user`,`dibaca`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_chat` WRITE;
/*!40000 ALTER TABLE `tbl_chat` DISABLE KEYS */;
INSERT INTO `tbl_chat` VALUES (24,'Tantowi','Haidar Husseiny',53,'Kemeja Batik Lengan Pendek Anak Cowok Motif Waru','pelanggan','Haidar Husseiny','halo. bahannya apa?',0,'2026-08-13 13:13:28');
/*!40000 ALTER TABLE `tbl_chat` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_bank` (
  `id_bank` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `a_n` varchar(100) NOT NULL,
  `no_rek` varchar(100) NOT NULL,
  `nama_bank` varchar(100) NOT NULL,
  `deleted_at` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_bank`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_bank` WRITE;
/*!40000 ALTER TABLE `tbl_data_bank` DISABLE KEYS */;
INSERT INTO `tbl_data_bank` VALUES (1,'Tantowi','Tantowi','2147483647','BRI',0),(2,'Tantowi','Tantowi','2147483647','BSI',0),(3,'Tantowi','Tantowi','2147483647','Mandiri',0),(4,'Tantowi','Tantowi','2147483647','BCA',0),(5,'Agus','Agus','29093204','BSI',0),(6,'Agus','Agus','290932011','BRI',0),(7,'Agus','Agus','29093233','BCA',0);
/*!40000 ALTER TABLE `tbl_data_bank` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_cabang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_cabang` (
  `id_cabang` int(11) NOT NULL AUTO_INCREMENT,
  `id_website` int(11) NOT NULL,
  `nama_cabang` varchar(255) DEFAULT '',
  `latitude_cabang` double DEFAULT NULL,
  `longitude_cabang` double DEFAULT NULL,
  `alamat_cabang` text DEFAULT NULL,
  `wa_cabang` varchar(100) DEFAULT '',
  PRIMARY KEY (`id_cabang`),
  KEY `id_website` (`id_website`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_cabang` WRITE;
/*!40000 ALTER TABLE `tbl_data_cabang` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_cabang` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_ekspedisi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_ekspedisi` (
  `id_ekspedisi` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `nama_pelanggan` varchar(100) NOT NULL,
  `latitude` double NOT NULL,
  `longitude` double NOT NULL,
  `alamat` varchar(100) NOT NULL,
  `jenis_kurir` varchar(100) NOT NULL,
  `ongkir` varchar(100) NOT NULL,
  `estimasi_waktu` varchar(100) NOT NULL,
  PRIMARY KEY (`id_ekspedisi`)
) ENGINE=InnoDB AUTO_INCREMENT=202 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_ekspedisi` WRITE;
/*!40000 ALTER TABLE `tbl_data_ekspedisi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_ekspedisi` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_keranjang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_keranjang` (
  `id_keranjang` int(11) NOT NULL AUTO_INCREMENT,
  `nama_pelanggan` varchar(100) NOT NULL,
  `longitude` double NOT NULL,
  `latitude` double NOT NULL,
  `alamat` text NOT NULL,
  `id_stok` int(11) NOT NULL,
  `nama_produk` varchar(100) NOT NULL,
  `ukuran_produk` varchar(100) NOT NULL,
  `jumlah_produk` int(11) NOT NULL,
  `satuan_produk` varchar(100) NOT NULL,
  `harga_produk` decimal(10,2) NOT NULL,
  `berat_produk` decimal(10,2) NOT NULL,
  `total_harga` decimal(10,2) NOT NULL,
  `status_keranjang` enum('Proses','Selesai') NOT NULL DEFAULT 'Proses',
  `waktu_ditambahkan` datetime NOT NULL,
  PRIMARY KEY (`id_keranjang`)
) ENGINE=InnoDB AUTO_INCREMENT=498 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_keranjang` WRITE;
/*!40000 ALTER TABLE `tbl_data_keranjang` DISABLE KEYS */;
INSERT INTO `tbl_data_keranjang` VALUES (494,'Haidar Husseiny',107.70446777343751,-6.933413546342068,' PASIRBIRU, CIBIRU, BANDUNG, JAWA BARAT',63,'Snack Piatozz Varian BBQ','Large',1,'Item',6000.00,100.00,6000.00,'Proses','2026-08-10 23:03:38'),(497,'Haidar Husseiny',107.70446777343751,-6.933413546342068,' PASIRBIRU, CIBIRU, BANDUNG, JAWA BARAT',53,'Kemeja Batik Lengan Pendek Anak Cowok Motif Waru','M',1,'Item',76000.00,500.00,76000.00,'Proses','2026-08-11 18:27:51');
/*!40000 ALTER TABLE `tbl_data_keranjang` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_kurir`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_kurir` (
  `id_kurir` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `jenis_kurir` varchar(100) NOT NULL,
  `ongkir` decimal(10,2) NOT NULL,
  `deleted_at` tinyint(1) NOT NULL,
  PRIMARY KEY (`id_kurir`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_kurir` WRITE;
/*!40000 ALTER TABLE `tbl_data_kurir` DISABLE KEYS */;
INSERT INTO `tbl_data_kurir` VALUES (4,'Tantowi','Kurir Internal',1700.00,0);
/*!40000 ALTER TABLE `tbl_data_kurir` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_pelanggan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_pelanggan` (
  `id_pelanggan` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `google_id` varchar(255) DEFAULT NULL,
  `password` varchar(100) NOT NULL,
  `nama_pelanggan` varchar(100) NOT NULL,
  `jenis_kelamin` enum('L','P') NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `no_telpon` varchar(100) NOT NULL,
  `longitude` double NOT NULL,
  `latitude` double NOT NULL,
  `alamat` text NOT NULL,
  `kode_kota` varchar(10) DEFAULT NULL,
  `nama_kota` varchar(255) DEFAULT NULL,
  `foto_pelanggan` varchar(255) NOT NULL,
  `level` enum('3') NOT NULL DEFAULT '3',
  `last_login` datetime DEFAULT NULL,
  PRIMARY KEY (`id_pelanggan`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_pelanggan` WRITE;
/*!40000 ALTER TABLE `tbl_data_pelanggan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_pelanggan` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_pembayaran` (
  `id_bayar` int(11) NOT NULL AUTO_INCREMENT,
  `id_beli` int(11) DEFAULT NULL,
  `sesi_user` varchar(100) NOT NULL,
  `nama_pelanggan` varchar(100) NOT NULL,
  `nama_produk` varchar(100) NOT NULL,
  `jumlah_produk` int(11) NOT NULL,
  `satuan_produk` varchar(100) NOT NULL,
  `ukuran_produk` varchar(100) NOT NULL,
  `a_n` varchar(100) NOT NULL,
  `no_rek` varchar(100) NOT NULL,
  `bank_tujuan` varchar(100) NOT NULL,
  `status_bayar` enum('Dibatalkan','Belum Bayar','Dibayar') NOT NULL DEFAULT 'Belum Bayar',
  `alasan_batal` varchar(100) NOT NULL,
  `waktu_pembayaran` datetime NOT NULL,
  `total_harga` decimal(10,2) NOT NULL,
  `total_bayar` decimal(10,2) NOT NULL,
  `batas_waktu_bayar` datetime NOT NULL,
  `foto_bayar` varchar(255) NOT NULL,
  PRIMARY KEY (`id_bayar`)
) ENGINE=InnoDB AUTO_INCREMENT=227 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_pembayaran` WRITE;
/*!40000 ALTER TABLE `tbl_data_pembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_pembayaran` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_pembelian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_pembelian` (
  `id_beli` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `kode_beli` varchar(100) NOT NULL,
  `nama_pelanggan` varchar(100) NOT NULL,
  `id_stok` int(11) NOT NULL,
  `nama_produk` varchar(100) NOT NULL,
  `ukuran_produk` varchar(100) NOT NULL,
  `jumlah_produk` int(11) NOT NULL,
  `satuan_produk` varchar(100) NOT NULL,
  `total_harga` decimal(10,2) NOT NULL,
  `total_berat` decimal(10,2) NOT NULL,
  `status_bayar` enum('Dibatalkan','Belum Bayar','Dibayar') NOT NULL DEFAULT 'Belum Bayar',
  `waktu_pembelian` datetime NOT NULL,
  PRIMARY KEY (`id_beli`)
) ENGINE=InnoDB AUTO_INCREMENT=271 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_pembelian` WRITE;
/*!40000 ALTER TABLE `tbl_data_pembelian` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_pembelian` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_produk` (
  `id_produk` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `kode_produk` varchar(11) NOT NULL,
  `nama_produk` varchar(100) NOT NULL,
  `checked` tinyint(1) DEFAULT 0,
  `ukuran_produk` varchar(100) DEFAULT NULL,
  `berat_produk` decimal(10,2) NOT NULL,
  `satuan_berat` varchar(100) NOT NULL,
  `deskripsi_produk` text NOT NULL,
  `harga_produk` decimal(10,2) NOT NULL,
  `foto_produk` varchar(255) NOT NULL,
  `id_varian` int(11) DEFAULT NULL,
  `id_jenis` int(11) DEFAULT NULL,
  `deleted_at` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_produk`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_produk` WRITE;
/*!40000 ALTER TABLE `tbl_data_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_produk` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_data_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_data_user` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(100) NOT NULL,
  `nama_lengkap` varchar(100) DEFAULT NULL,
  `tampilkan_varian` tinyint(1) NOT NULL,
  `sesi_user` varchar(100) NOT NULL,
  `nama_title` varchar(100) NOT NULL,
  `notelpon_user` varchar(100) DEFAULT NULL,
  `jobdesk_user` varchar(100) DEFAULT NULL,
  `level` varchar(100) NOT NULL,
  `foto_user` varchar(255) NOT NULL,
  `last_login` datetime DEFAULT NULL,
  PRIMARY KEY (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_data_user` WRITE;
/*!40000 ALTER TABLE `tbl_data_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_data_user` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_jenis_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_jenis_produk` (
  `id_jenis` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `jenis_produk` varchar(100) NOT NULL,
  `deleted_at` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_jenis`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_jenis_produk` WRITE;
/*!40000 ALTER TABLE `tbl_jenis_produk` DISABLE KEYS */;
INSERT INTO `tbl_jenis_produk` VALUES (1,'Tantowi','Dress Batik Wanita',0),(2,'Tantowi','Kemeja Batik Lengan Panjang Pria',0),(3,'Tantowi','Kemeja Hem Batik Anak Cowok',0),(4,'Tantowi','Gamis Batik Wanita',0),(5,'Tantowi','Kemeja Hem Batik Pria',0),(6,'Tantowi','Celana Kulot Batik Pria',0),(7,'Tantowi','Celana Kulot Batik Wanita',0),(8,'Tantowi','Rok Batik Wanita',0),(10,'Agus','Snack Piatozz',0),(13,'Agus','Snack Hattari',0),(14,'Agus','Snack Taro',0);
/*!40000 ALTER TABLE `tbl_jenis_produk` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_review` (
  `id_review` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `nama_pelanggan` varchar(100) NOT NULL,
  `nama_produk` varchar(255) NOT NULL,
  `rating` tinyint(1) NOT NULL DEFAULT 5,
  `ulasan` text DEFAULT NULL,
  `waktu_review` datetime NOT NULL,
  PRIMARY KEY (`id_review`),
  KEY `idx_sesi_produk` (`sesi_user`,`nama_produk`),
  KEY `idx_pelanggan_produk` (`nama_pelanggan`,`nama_produk`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_review` WRITE;
/*!40000 ALTER TABLE `tbl_review` DISABLE KEYS */;
INSERT INTO `tbl_review` VALUES (1,'Tantowi','Haidar Husseiny','Gamis Batik Wanita Motif Waru',4,'barang baik dan bagus','2026-07-29 20:40:54'),(2,'Agus','Haidar Husseiny','Snack Piatozz Varian BBQ',4,'enak','2026-08-10 13:10:21');
/*!40000 ALTER TABLE `tbl_review` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_satuan_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_satuan_produk` (
  `id_satuan` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `satuan_produk` varchar(100) NOT NULL,
  `deleted_at` tinyint(1) NOT NULL,
  PRIMARY KEY (`id_satuan`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_satuan_produk` WRITE;
/*!40000 ALTER TABLE `tbl_satuan_produk` DISABLE KEYS */;
INSERT INTO `tbl_satuan_produk` VALUES (1,'Agus','Item',0),(2,'Agus','Box',0),(3,'Agus','Pack',0),(4,'Agus','Kg',0),(5,'Agus','Gram',0),(6,'Agus','Liter',0),(7,'Agus','Botol',0),(8,'Tantowi','Item',1),(9,'Tantowi','Kotak',1),(10,'Tantowi','Pack',1),(11,'Tantowi','Kg',0),(12,'Tantowi','Gram',0),(13,'Tantowi','Kwintal',0),(14,'Tantowi','Item',0),(15,'Tantowi','Box',0),(16,'Tantowi','Pack',0);
/*!40000 ALTER TABLE `tbl_satuan_produk` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_stok_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_stok_produk` (
  `id_stok` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `kode_stok` varchar(11) NOT NULL,
  `jumlah_stok_produk` int(11) NOT NULL,
  `satuan_produk` varchar(100) NOT NULL,
  `tanggal_masuk_produk` date NOT NULL,
  `nama_produk` varchar(100) NOT NULL,
  `jenis_produk` varchar(100) NOT NULL,
  `harga_produk` decimal(10,2) NOT NULL,
  `ukuran_produk` varchar(100) NOT NULL,
  `berat_produk` decimal(10,2) NOT NULL,
  `satuan_berat` varchar(100) NOT NULL,
  `total_berat` decimal(10,2) NOT NULL,
  `total_harga` decimal(10,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id_stok`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_stok_produk` WRITE;
/*!40000 ALTER TABLE `tbl_stok_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_stok_produk` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_varian_produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_varian_produk` (
  `id_varian` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `varian_produk` varchar(100) NOT NULL,
  `deleted_at` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_varian`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_varian_produk` WRITE;
/*!40000 ALTER TABLE `tbl_varian_produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_varian_produk` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `tbl_website`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_website` (
  `id_website` int(11) NOT NULL AUTO_INCREMENT,
  `sesi_user` varchar(100) NOT NULL,
  `level` varchar(100) NOT NULL,
  `nama_toko` varchar(100) NOT NULL,
  `latitude_pusat` double NOT NULL,
  `longitude_pusat` double NOT NULL,
  `kode_kota` varchar(10) DEFAULT NULL,
  `nama_kota` varchar(255) DEFAULT NULL,
  `alamat_pusat` text NOT NULL,
  `longitude_cabang` double NOT NULL,
  `latitude_cabang` double NOT NULL,
  `alamat_cabang` text NOT NULL,
  `wa_pusat` varchar(100) NOT NULL,
  `wa_cabang` varchar(100) NOT NULL,
  `logo_website` varchar(255) NOT NULL,
  `bgd_web` varchar(255) NOT NULL,
  `footer_title` text NOT NULL,
  `link_IG` varchar(100) NOT NULL,
  `link_FB` varchar(100) NOT NULL,
  `link_Tiktok` varchar(100) NOT NULL,
  `is_checked` tinyint(1) DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_website`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `tbl_website` WRITE;
/*!40000 ALTER TABLE `tbl_website` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_website` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

